H1 {
  text-align: center;
  background-color: black;
  color: white;
}

h3{
  display:inline;
  padding-bottom: 30px;
}

.block{

  background-color: red;
  color: white;
}


.col-2{
  display:inline;
  /* background-color: blue; */
}

.col-2 {
  display:inline;
  /* background-color: blue; */
}
/* h3 {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
} */


/* .col-4 {
  display: inline;
}


.col-8,
form {
  display: inline;
} */

tr,
th {
  border: 1px solid grey;
}

table {
  border: 1px solid rgb(155, 140, 140);
  border-collapse: collapse;
  margin-top: 20px;
}
